<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="clam_robot_move_clam_arm">
        <param name="group" type="string" value="clam_arm" />
        <remap from="arm_ik" to="clam_robot_clam_arm_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="clam_arm_controller/follow_joint_trajectory" />
    </node>
</launch>
