<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="clam_robot_move_Arm">
        <param name="group" type="string" value="Arm" />
        <remap from="arm_ik" to="clam_robot_Arm_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="Arm_controller/follow_joint_trajectory" />
    </node>
</launch>
