<!-- -*- mode: XML -*- -->
<!-- This launch file starts up a visual interative-marker controller for physical robot -->
<!-- Pre-reqs: roslaunch clam_bringup clam.launch -->

<launch>

  <!-- Launch arm navigation stack -->
  <include file="$(find clam_arm_navigation)/launch/clam_arm_navigation.launch" />

  <!-- Launch simple arm server -->
  <node name="simple_arm_server" pkg="simple_arm_server" type="simple_arm_server.py" output="screen" >
    <param name="arm_dof" value="8" />
    <param name="root_name" value="base_link" />
    <param name="tip_name" value="gripper_grip_link" />
    <!-- Load joints and links to parameter server: TODO - didn't work orignally -->
    <!--rosparam file="$(find clam_interactive_markers)/config/clam_joints_links.yaml" command="load" param="marker"/-->
  </node>

  <node name="reset_arm_server" pkg="simple_arm_actions" type="reset_arm_server.py" output="screen">
    <remap from="/simple_arms/joints" to="/clam_arm_controller/dependencies" />
  </node>

  <node name="clam_marker_server" type="clam_marker_server" pkg="clam_interactive_markers" output="screen">
    <param name="root_link" value="/base_link" />
    <param name="tip_link" value="/gripper_grip_link" />
  </node>

  <!-- Launch visualizer -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find clam_bringup)/launch/vcg/clam_interactive_markers.vcg" />


</launch>
