<!-- -*- mode: XML -*- -->

<launch>
  <param name="use_gui" value="TRUE"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <rosparam param="source_list">[joint_states]</rosparam>
  </node>

  <!-- Visualize it -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find clam_bringup)/launch/vcg/rviz.vcg" />
</launch>
