<!-- -*- mode: XML -*- -->
<launch>
    <!-- launch the dynamixel controllers -->
    <!--include file="$(find clam_controller)/launch/clam_controller.launch" /-->

    <!-- send robot XML description to param server -->
    <param name="robot_description" command="cat $(find clam_description)/urdf/clam_urdf_generated.xml" />

    <!-- combine all the joint info -->
    <include file="$(find clam_controller)/launch/joint_state_aggregator.launch" />

    <!-- Publish the joint_states -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- Launch arm navigation stuff -->
    <include file="$(find clam_arm_navigation)/launch/clam_arm_navigation.launch" />

    <!-- I don't think this is needed -->
    <!--include file="$(find planning_environment)/launch/planning_environment_visualization_prerequisites.launch" /-->

    <!-- Launch visualizer -->
    <node pkg="rviz" type="rviz" name="rviz_planning_components" args="-d $(find clam_arm_navigation)/config/planning_components_visualizer.vcg" />

    <!-- Launch planning visualizer: not used for actually controlling physical robot -->
    <!--node pkg="move_arm" type="planning_components_visualizer" name="planning_components_visualizer" output="screen" /-->

    <!-- Launch basic visualizer -->
    <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find clam_description)/launch/rviz.vcg" /-->

    <!--node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" /-->
</launch>
