<!-- -*- mode: XML -*- -->

<launch>
    <node name="joint_state_aggregator" pkg="clam_controller" type="joint_state_aggregator" output="screen">
        <rosparam>
            rate: 50
            <!--static_joints:
                - base_caster_support_joint
                - caster_wheel_joint
                - base_link_left_wheel_joint
                - base_link_right_wheel_joint-->
            controllers:
                - shoulder_pan_controller
                - gripper_roll_controller
                - gripper_grip_controller
                - shoulder_pitch_controller
                - elbow_roll_controller
                - elbow_pitch_controller
                - wrist_roll_controller
                - wrist_pitch_controller
        </rosparam>
    </node>
</launch>
